* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

body {
    /* margin: 80px;
    margin-top: 0px; */
}

.backround {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* background-image: url(https://source.unsplash.com/random/1920x1080/?GYM); */
    
}


.nevber {
  
    background-color: black;
    padding-top: 40px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed !important
}

.logo {
    font-size: 30px;
    color: #fff;
    margin-top: -15px;
}

.yello {
    color: black;
    background-color: rgb(230, 143, 13);
    border-radius: 5px;
}

div.nevber {
    border-bottom: 15px solid black;
    border-left: 23px solid rgb(230, 143, 13);
    border-right: 23px solid rgb(230, 143, 13);
    position: relative;
}

.nevber ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nevber ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.nevber ul li a:hover {
    color: black;
    background-color: rgb(230, 143, 13);
    border-radius: 3px;
}

.nevber ul li::after {
    content: '';
    height: 3px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(230, 143, 13);
    transition: 0.5s;
}

.nevber ul li:hover::after {
    width: 100%;
}

.motive {
    text-align: center;
    padding: 9rem 0px;
    margin-bottom: 60px;
    background:linear-gradient(#506,#3232,#FF45,#F515,#ffffff);
}

.motive h2 {
    color: rgb(230, 143, 13);
    text-shadow: rgba(98, 97, 97, 0.736) 3px 5px;
    font-size: 70px;

}
.motive p {
    font-size: 30px;

}

.hading {
    border-left: 20px solid rgb(230, 143, 13);
    border-right: 20px solid rgb(230, 143, 13);
    background:linear-gradient(#506,#3232,#FF45,#F515,#F002F1);
    
    border-radius: 20%;
    /* padding-bottom: 10px; */
    margin-top: -100px;

}

.hading h1 {
    text-align: center;
    color: rgb(230, 143, 13);
    text-shadow: rgb(0, 0, 0) 2px 3px;
    font-size: 50px;

}

.hading p {
    text-align: center;
    font-size: 30px;
    /* color: #fff; */
}
.boxs{
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;

}

.box {
    display:flex;
    padding: 50px;
    border: rgb(230, 143, 13)2px solid;
}
.img{

    text-align: center;

}

 h2 span{
    font-size: 50px;
    color: rgb(230, 143, 13);
}
.peragerf h2{
    color: rgb(28, 70, 222);
    font-size: 40px;
    text-shadow: 3PX 1px rgb(88, 83, 83);
}
.steps{
    margin-top: 10px;
   
}
h2{
    text-align: center;
}
.devlaper {
     text-align: center;
    height: 100px;
    background: linear-gradient(#506, #3232, #FF45, #F515, #F002F1);
    padding-top: 50px;

}
.devlaper span{
    color: #F002F1;

}
footer{
    background-color: black;
}

.form {
    width: auto;
    padding: 10px, 18px;
    margin: 10px, 5px;
    border-radius: 5px;
}

.forms {
    /* border: red 2px solid; */
    text-align: center;
    /* background: linear-gradient(#dfd576b4, #e2ca12a4);QS */
    padding-bottom: 25px;
}

input {
    margin: 10px;
    border-radius: 4px;
    width: 30%;
    box-shadow: #000 2px 3px 10px;
    border: none;

    height: 25px;
}

.btnform {
    border: none;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    /* width: 10%; */
    /* margin-right: -20%; */
    /* box-shadow: #000 2px; */
    box-shadow: rgb(235, 233, 233) 2px 3px;
    background-color: rgba(234, 238, 127, 0.74);
    box-shadow: rgb(43, 42, 42) 2px 3px 10px;
}

.btnform:hover {


}
.btnform:active{
    font-size: 24px;
    box-shadow: none;


}


input:active {
    font-size: 15px;
    background-color: rgba(234, 238, 127, 0.74);
}

